﻿@*@using Sitecore*@
@using Sitecore.Mvc
@*@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields*@
@model Sitecore.Data.Items.Item
@*@model RenderingModel
    @{
        Layout = null;
    }*@



<p class="breadcrumbs">
    @Html.Sitecore().BeginField("URL Target1", Model, new { haschildren = true })
        @Html.Sitecore().Field("Title1", Model)
    @Html.Sitecore().EndField()

    @Html.Sitecore().BeginField("URL Target2", Model, new { haschildren = true })
        @Html.Sitecore().Field("Title2", Model)
    @Html.Sitecore().EndField()

    @Html.Sitecore().Field("Description", Model)
</p>
<article class="page-content">
    @foreach (var itemChild in Model.Children.InnerChildren)
    {
        <h1> @Html.Sitecore().Field("Title1", itemChild)</h1>
        <h2><em>@Html.Sitecore().Field("Title2", itemChild)<sup>@Html.Sitecore().Field("Sup Title2", itemChild)</sup></em></h2>
        <p>@Html.Sitecore().Field("Description1", itemChild)<sup>@Html.Sitecore().Field("Sup Description1", itemChild)</sup></p>
        <p>@Html.Sitecore().Field("Description2", itemChild)<sup>@Html.Sitecore().Field("Sup Description2", itemChild)</sup></p>
        <p align="center">
            <br />
            @Html.Sitecore().Field("Img", itemChild)<br />
            <br />
            <span class="note"> @Html.Sitecore().Field("Text", itemChild)</span>
        </p>
        <p><strong>@Html.Sitecore().Field("Description3", itemChild)</strong></p>
        <ul style="padding-left:2em;">
            <li>@Html.Sitecore().Field("Li1", itemChild)</li>
            <li>@Html.Sitecore().Field("Li2", itemChild)</li>
        </ul>
        <!--<p><strong>[NEXT BUTTON] The underlying cause of HPP</strong></p>-->
        <p class="tr linkArrowOneLine">
            @Html.Sitecore().BeginField("URL", itemChild, new { haschildren = true, @onMouseOver = "this.src='../img/arrowHover.png '" , @onMouseOut = "this.src='../img/arrow.png'" })
            <strong>@Html.Sitecore().Field("Description4", itemChild)</strong>
                @Html.Sitecore().Field("Img Arrow", itemChild)
            @Html.Sitecore().EndField()
        </p>
        <div class="references" style="border-top:1px solid #adadad;"> 
            @Html.Sitecore().Field("References", itemChild)
        </div>
    }
</article>


