﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @Html.Sitecore().VisitorIdentification()

    <script type="text/javascript" src="api/html5media.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Datasources/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Datasources/css/style.css" rel="stylesheet" />
    <link href="~/Datasources/css/web-forms/webform.css" rel="stylesheet" />
    <link href="~/Datasources/css/vanityurlsurvey.css" rel="stylesheet" />
    <link href="~/Datasources/css/common.css" rel="stylesheet" />


    @*<script src="~/Datasources/js/jquery-1.10.1.min.js"></script>
    <script src="~/Datasources/js/template.js"></script>
    <script src="~/Datasources/js/main.js"></script>
    <script src="~/Datasources/js/common.js"></script>*@

</head>



<body class="home">
    <header class="header">        
        @Html.Sitecore().Placeholder("header")
    </header>

    <div class="main container">
        @Html.Sitecore().Placeholder("Banner")
        @Html.Sitecore().Placeholder("content")
    </div>    
    <footer class="footer container">
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>