

	#dialog {
		position:absolute;
		width:838px;
		height:510px;
		background-color:#ffffff;
	}

	#dialog span {
		position:absolute;
		top:134px;
		width:838px;
		text-align:center;
		color:#000000;
		font-size:18px;
		font-weight:bold;
		padding:0px !important;
	}

	#dialog p {
		position:absolute;
		top:188px;
		width:838px;
		text-align:center;
		color:#000000;
		font-size:24px;
		font-weight:bold;
		padding:0px !important;
	}
	
	#dialog .btn_no {
		position:absolute;
		width:179px;
		height:51px;
		top:308px;
		left:455px;
		background-image:url("../img/btn_no.png");
	}
	
	#dialog .btn_yes {
		position:absolute;
		width:179px;
		height:51px;
		top:308px;
		left:200px;
		background-image:url("../img/btn_yes.png");
	}
	
	#dialog a {
		display:block;
		width:100%;
		height:100%;
	}
	



/******************************************************************************************************
 * sp
 *******************************************************************************************************/
@media screen and (max-width: 640px) {
		
	/**
	 * 	dialog
	 */
	#dialog {
		position:absolute;
		width:280px;
		height:200px;
		background-color:#ffffff;
	}

	#dialog span {
		position:absolute;
		top:26px;
		width:220px;
		text-align:center;
		color:#000000;
		font-size:12px;
		font-weight:bold;
		padding:0px 25px !important;
	}
	
	#dialog p {
		position:absolute;
		top:70px;
		width:280px;
		text-align:center;
		color:#000000;
		font-size:12px;
		font-weight:bold;
	}
	
	#dialog .btn_no {
		position:absolute;
		width:89px;
		height:25px;
		top:110px;
		left:150px;
		background-image:url("../img/sp_btn_no.png");
		background-repeat:no-repeat;
	}
	
	#dialog .btn_yes {
		position:absolute;
		width:89px;
		height:25px;
		top:110px;
		left:50px;
		background-image:url("../img/sp_btn_yes.png");
		background-repeat:no-repeat;
	}
	
	#dialog a {
		display:block;
		width:100%;
		height:100%;
	}
}




/*
 * colorbox css
 */

#colorbox, #cboxOverlay, #cboxWrapper{ position:absolute; top:0; left:0; z-index:9999; }
#cboxWrapper { max-width:none; }
#cboxOverlay{ position:fixed; width:100%; height:100%; }
#cboxMiddleLeft, #cboxBottomLeft{ clear:left; }
#cboxContent{ position:relative; }
#cboxLoadedContent{ overflow:auto; -webkit-overflow-scrolling: touch; }
#cboxTitle{ margin:0; }
#cboxLoadingOverlay, #cboxLoadingGraphic{ position:absolute; top:0; left:0; width:100%; height:100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{ cursor:pointer; }
.cboxPhoto{ float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic; }
.cboxIframe{ width:100%; height:100%; display:block; border:0; }
#colorbox, #cboxContent, #cboxLoadedContent{ box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }

#cboxOverlay{ background:#000; }
#colorbox{ outline:0; }
#cboxContent{ margin-top:20px; background:#fff; }
.cboxIframe{ background:#fff; }
#cboxError{ padding:50px; }
#cboxLoadedContent{ background:#fff; }
#cboxTitle{ position:absolute; top:-20px; left:0; font-size: 1.2em; color:#ccc; }
#cboxCurrent{ position:absolute; top:-20px; right:0px; color:#ccc; }
#cboxClose { position: absolute; top: 8px; right: 8px; width: 21px; height: 21px; background: url(../images/btn-close.png) left top no-repeat; text-indent: -9999px; }