﻿@model Sitecore.Data.Items.Item

<nav class="ft-nav">
    @Html.Sitecore().Field("Img Footer")
    <ul>
        <li>
        @Html.Sitecore().BeginField("URL", Model, new { haschildren = true })
            @Html.Sitecore().Field("Title1")
        @Html.Sitecore().EndField()
        </li>
    </ul>
</nav>
<p class="copyright"> @Html.Sitecore().Field("Title2") </p>
