﻿@*@using Sitecore*@
@using Sitecore.Mvc
@*@using Sitecore.Mvc.Analytics.Extensions
    @using Sitecore.Mvc.Presentation
    @using Sitecore.Data
    @using Sitecore.Data.Items*@

@*@using Sitecore.Data.Fields*@
@model Sitecore.Data.Items.Item


@*@model List<Item>*@

<nav class="audience-nav" style="height: 40px; margin-bottom: 25px;">
    <div class="container"> </div>
    <div class="patient-link container clearfix">    
        @Html.Sitecore().BeginField("URL Hpp Life", Model, new { haschildren = true })
        <span>@Html.Sitecore().Field("Title Hpp Life", Model)</span>      
        @Html.Sitecore().EndField()
    </div>
    <!-- /social-nav -->
    <div class="socialNav">
        <div class="hd-search">

            <gcse:search></gcse:search>
        </div>
        <!-- /hd-search -->
        <div class="addthis_toolbox" style="padding-top:4px;"></div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->

</nav>
<!-- /audience-nav -->
<div class="container clearfix">

    <div class="hd-logo">
        @Html.Sitecore().BeginField("Logo URL", Model, new { haschildren = true })
        @Html.Sitecore().Field("Img Logo", Model)
        @Html.Sitecore().EndField()
    </div>

    <nav class="hd-nav">
        <ul class="clearfix">
            @foreach (var itemChild in Model.Children.InnerChildren)
            {
                <li class="has-ul">

                    @Html.Sitecore().BeginField("Target URL", itemChild, new { haschildren = true, @class = "hpp_content" })
                    @Html.Sitecore().Field("Title", itemChild)
                    @Html.Sitecore().EndField()
                    <ul>
                        @foreach (var itemChildren in Model.Children.InnerChildren)
                        {
                            <li>
                                @Html.Sitecore().BeginField("Target URL", itemChildren, new { haschildren = true })
                                @Html.Sitecore().Field("Title", itemChildren)
                                @Html.Sitecore().EndField()
                            </li>
                        }


                    </ul>

                </li>
            }
        </ul>
    </nav>

</div>
