﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation

@model RenderingModel
@{
    Layout = null;

}
<div class="ld-banner-wrap">
    <section class="ld-banner">
     
        <h1>@Html.Sitecore().Field("Title")</h1>
        <p><em>@Html.Sitecore().Field("Description")<br>@Html.Sitecore().Field("Description2")<sup>@Html.Sitecore().Field("Sup")</sup></em></p>
    </section>
    <!-- ld-banner -->
</div>
   