﻿@*@using Sitecore*@
@using Sitecore.Mvc
@*@using Sitecore.Mvc.Analytics.Extensions
    @using Sitecore.Mvc.Presentation
    @using Sitecore.Data
    @using Sitecore.Data.Items
    @using Sitecore.Data.Fields*@
@model Sitecore.Data.Items.Item
@*@model List<Item>*@

@*@model RenderingModel
    @{
        Layout = null;
    }*@

<div class="ld-list">
    <p class="breadcrumbs"><a href="../index.html">ホーム</a> / 全身性の症状</p>


    @foreach (var item in Model.Children.InnerChildren)
    {
        <article class="ld-item">
            <div class="image">
                @Html.Sitecore().Field("Img Item", item)
            </div>
            <h2>@Html.Sitecore().Field("Text", item)</h2>
            <p>@Html.Sitecore().Field("Description", item)<sup>@Html.Sitecore().Field("Sup", item)</sup></p>
            <div class="more">
                @Html.Sitecore().BeginField("URL Target", item, new { haschildren = true })
                @Html.Sitecore().Field("Title", item)
                @Html.Sitecore().EndField()
            </div>
        </article>
    }
    <div class="references">
        @Html.Sitecore().Field("References", Model)
    </div>
</div>
