﻿@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@model List<Item>
@*@model RenderingModel
    @{
        Layout = null;
    }*@




    
        <nav class="sidebar-nav">
            <ul>
                @foreach (var item in Model)
                {
                <li>
                    @Html.Sitecore().BeginField("Url Target", item, new { haschildren = true, @class = "systemic_snavi01" })
                    <span class="text">@Html.Sitecore().Field("Text", item)</span>
                    <span class="arrow"></span>
                    @Html.Sitecore().EndField()

                </li>
                    @*<li><a class="systemic_snavi02" href="/systemic/respiratory.html"><span class="text">呼吸器系</span><span class="arrow"></span></a></li>
                    <li><a class="systemic_snavi03" href="/systemic/neurologic.html"><span class="text">神経系</span><span class="arrow"></span></a></li>
                    <li><a class="systemic_snavi04" href="/systemic/renal.html"><span class="text">腎臓</span><span class="arrow"></span></a></li>
                    <li><a class="systemic_snavi05" href="/systemic/muscular-rheumatologic.html"><span class="text">筋肉/関節</span><span class="arrow"></span></a></li>*@
                }
            </ul>
        </nav>

    

