.webform-confirmation p:first-child {
	color: #CC102A;
	font-weight: bold;
	font-size: 24px;
}
.content-block.lab-test{
	margin:0 0 0 -14px;
}
.content-block.lab-test .img-holder{
	text-align:center;
	width: 694px;
	margin: 0 0 15px;
}
.content-block.lab-test .img-holder img{
	vertical-align: top;
}

.form-item {
	margin-bottom: 0em !important;
	margin-top: 0em !important;
	margin-left: 2px !important;
}
.submit-from .form-submit{
	background: url(images/bg-form-elements.gif) no-repeat scroll 0 -91px transparent;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	margin: 6px 0 0 113px;
	padding: 0 0 3px;
	text-align: center;
	width: 105px;
}
.submit-from .form-submit:hover{ cursor: pointer;}
.submit-from #webform-client-form-30 .form-submit { margin: 6px 0 0 295px; }
.submit-from #webform-client-form-30 h3 { margin: 15px 0 10px; }
.submit-from .form-required{
	display: none;
}
.form-item label{
	float: left;
	font-weight: normal !important;
	padding: 4px 8px;
	width: 165px;
}

.webinar label {
	width: 211px;
}
.form-item label.longer_lbl { width: 337px; }
/*#edit-submitted-patients-with-hpp { width: 60px; }*/
.submit-from .form-text{
	background: url(images/bg-form-elements.gif) no-repeat scroll 0 -29px transparent;
	float: left;
	height: 16px;
	width: 230px;
	border: 0 none;
	color: #231F20;
	font-size: 14px;
	line-height: 16px;
	padding: 6px 6px 4px;
}

.form-item select {
	width: 200px;
	height: 27px;
	overflow: hidden;
	background: #FFF;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#edit-submitted-city{
	width: 170px;
}
#edit-submitted-zip-code{
	width: 170px;
}
.submit-from .webform-component-textfield label{
	text-align: right;
}
.submit-from .webform-component-email label{
	text-align: right;
}
.submit-from .webform-component-textarea label{
	text-align: right;
}
#edit-captcha-response-wrapper label{
	text-align: right;
}
.submit-from #webform-component-radio-holder {
	overflow: hidden;
	padding: 0 2px 33px;
	width: 100%;
}
.submit-from .webform-component-textfield:after,
.submit-from .webform-component-email:after,
.submit-from .webform-component-textarea:after,
.submit-from .select-row .row:after {
	clear: both;
	content: "";
	display: block;
}
.submit-from .webform-component-textfield,
.submit-from .webform-component-email,
.submit-from .webform-component-textarea{
	padding: 0 0 12px;
	width: 100%;
}
.webform-component-select .select-area {
	background: url(images/bg-form-elements.gif) no-repeat scroll 0 -59px transparent;
	cursor: default;
	float: left;
	height: 26px;
	margin: 0 7px 0 0;
	position: relative;
}
.submit-from .webform-component-textarea .form-textarea{
	float: left;
	height: 93px;
	min-height: 93px;
	max-height: 93px;
	padding: 3px 2px 1px;
	width: 302px;
	max-width: 302px;
	min-width: 302px;
	border: 0 none;
	color: #231F20;
	font-size: 14px;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.submit-from .form-radios label {
	padding: 0 30px 0 0;
	width: auto;
}
.submit-from .form-radios label .form-radio
{
	margin: 0.5em 4px 0.5em 0;
}
.form-checkboxes, .form-radios {
	margin: 0 0 0 5px !important;
	padding: 0 0 0 5px !important;
	overflow: hidden;
	width:  100%;
}
.webform-component-textarea label{
	width: 158px;
}
#edit-submitted-suspect-refer-answer-wrapper label{
	width: 228px;
}
#webform-component-checkoptions label{
	width: 190px;
	padding:0 20px 10px 0;
}
#webform-component-checkoptions label input{
	margin: 0.5em 4px 0.5em 0;
}
#webform-component-required-fields {
	font-size: 12px;
}
img.center{
	padding: 0 0 10px;
	clear: both;
	display: block;
}
.block-webform .webform-client-form input{
	float: left;
	border: 1px solid #BEBEBE;
	height: 16px;
	width: 170px;
	color: #231F20;
	font-size: 14px;
	line-height: 16px;
	padding: 6px 6px 4px;
}
.block-webform .webform-client-form label {
	float: left;
	margin: 0;
	padding: 4px 2px 0 0;
	width: 158px;
}
.content-block .info-list.wide ul {
	float: left;
	margin: 0 0 0 23px;
	width: 600px !important;
}
.webform-component{
	width:100%;
	overflow:hidden;
}
.webform-selects{
	padding:0 0 12px 94px;
	width:600px;
	overflow:hidden;
}
.webform-selects .webform-component{
	width:auto;
	float:left;
	padding:0 12px 0 0;
}

#webform-component-us-state-if-applicable{
	width:120px;
}

.captcha { margin: 10px 0; }
.captcha img { margin: 10px 0 10px 198px; }

.submit-from .webform-component-textarea .form-textarea.error { border: 2px solid #f00; }

.submit-from .form-text{
	height: 24px;
	width: 230px;
	margin-right: 10px;
	padding: 0 6px;
	color: #231F20;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.submit-from  .select{
	height: 16px;
	width: 230px;
	margin-right: 10px;
	padding: 6px 6px 4px;
	color: #231F20;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.submit-from .error-box {
	background: #FDD;
	border: 1px solid #F00;
	padding: 10px;
	margin: -15px 0 15px !important;
}

.submit-from   .error-field{
	border: 2px solid #F00 !important;
}

#edit-captcha-response-wrapper label{
	margin-top: -8px;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ specific styles go here */
	.submit-from .form-text {
		width: 215px;
	}

}